/*** HEADER STYLING ***/
body {
    text-align: center;
    color: #8B0009;
    background-color: #F2EBD7;
}

header {
    text-align: center;
    background-color: #F2EBD7;
    height: 150px;
    font-family: script;
}

header h1 {
    color: #8B0009;
}

#coatOfArms {
    float: left;
    height: 150px;
    width: auto;
}

#academicLibrary {
    float: right;
    height: 150px;
    width: auto;
}
main {
    
    color: #8B0009;
    background-color: #F2EBD7;
}
/*** Navbar ***/
nav {
    height: 30px;
    text-align: center;
}

#navbar {
    height: 45px;    
    background-color: #8B0009;
}

ul{
    background-color: #8B0009;
    color: #F2EBD7;
    font-size: 25px;
}

.link{
    color: #F2EBD7;
    text-decoration: none;
}
li {
    display: inline;
    padding-left: 5px;
    color: #F2EBD7;
    background-color: #8B0009;
}

a {
    color: #F2EBD7;
    background-color: #8B0009;
    text-decoration: none;
}

a:hover.link{
    background-color: #F2EBD7;
    color: crimson;
    text-decoration: none;
    font-size: 150%;
    font-family: script;
    text-transform: lowercase
}



/*** MAIN ***/
#mainFirstDiv{
    background-image: url("media/images/stockImages/capgownSilouete.jpeg");
    /*width: 100%;*/
    height: 400px;
    padding: 0%;
    margin: 0%;
    border: 0%;
}

.donateButton{
    text-align: center;
    margin-top: 290px;
    padding: 0px;
    width: 150px;
    height: 30px; 
    border-radius: 35px;
    background-color: #8B0009;
    color: #F2EBD7;
    text-decoration: none;
    float: left;
}

#rcorners3 {
    border-radius: 25px;
    background: url(paper.gif);
    background-position: left top;
    background-repeat: repeat;
    padding: 20px; 
    width: 200px;
    height: 150px;  
  }
table {
    text-align: center;
}

.leftTableData {
    padding-left: 30px;
}

.rightTableData {
       padding-right: 60px;
}

#displayBtn {
    color: #F2EBD7;
    background-color: #8B0009;
    margin-top: 40px;
    text-align: center;
    margin-left: 40%;
    margin-bottom: 50px;
    padding: 0 10px;;
}

.learnMorebtn {
    background-color: #8B0009;
    color: #F2EBD7;
    padding: 5px 10px;
}
/***Third Div***/
#thirdDiv{
    margin-top: 100px;
    background-image:url("media/images/stockImages/windycityskyline.png");
    height: 400px;
    color: #8B0009;
    /*margin: 0%;*/
}

.thirdDivText{
    text-align: center;
}

.h3Text{
    padding-top: 25px;
}

#komingSoon {
    width:1000px;
    margin-left: 100px;
}

.foundationSponsor {
    text-align: center;
    width: 50%;
    margin-left: 25%;
}

.sponsorLogo {
    height: 100px;
    width: auto;
}

.centerTable {
    margin-right: auto;
    margin-left: auto;
}

/*** FOOTER ***/
footer {
    bottom:0;
    width:100%;
    padding-top: 10px;
    /* Height of the footer */
    height: 100px;   
    text-align: center;
    background-color: #8B0009;
    color: #F2EBD7;
}

#integrityProgramming {
    float: left;
    padding-left: 10px;
}

.ipLink {
    color: #F2EBD7;
    text-decoration: none;
}

.ipLink:hover {
    text-decoration: none;
    background-color: #F2EBD7;
    color:#8B0009;
}

footer p {
    margin:0;
    padding: 0%;
}

.socialMedia{
    padding: 10px;
}

.fa-facebook{
    color: #3b5998;
}

.fa-twitter{
    color: #00acee; 
}

.fa-instagram {
    color: #FD1D1D;
}

.fa-brands {
    padding: 10px;
    size: 150%;
    float: right;
}

#footerNav {
    text-align: center;
}

/**********Golf Outting Page**********/
.golfOuttingPic {
    height: 150px;
    width: auto;
    border: 2px solid #8B0009;
}

table.golfOuttingTable {
    margin-left: auto;
    margin-right: auto;
}

.center {
    padding-top: 25px;
    padding-bottom: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
}

.fullSizePic {
    border: 2px solid #8B0009;
    border-radius: 4px;
    padding: 5px;
    width: 800px;
}
/*
td,i {
    display: inline-block;
    width: 100%;
    text-align:center;
}
*/
.navArrows {
    display: inline-block;
    width: 100%;
    text-align:center;    
}
.arrows {
    align-content: center;
    color: #8B0009;
    background-color: #F2EBD7;
}

.bottomPadding {
    padding-bottom: 25px;
    background-color: #F2EBD7;
}